@model rentCar.Models.VEHICULO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/dashboardLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VEHICULO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NO_PLACA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NO_PLACA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRECIO_VEHICULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECIO_VEHICULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YEAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YEAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MARCA.NOMBRE_MARCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARCA.NOMBRE_MARCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODELO.NOMBRE_MODELO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODELO.NOMBRE_MODELO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAGINA.NOMBRE_PAGINA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAGINA.NOMBRE_PAGINA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_COMBUSTIBLE.NOMBRE_TIPO_COMBUSTIBLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_COMBUSTIBLE.NOMBRE_TIPO_COMBUSTIBLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_VEHICULO.NOMBRE_TIPO_VEHICULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_VEHICULO.NOMBRE_TIPO_VEHICULO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_VEHICULO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
