@model IEnumerable<rentCar.Models.VEHICULO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/dashboardLayout.cshtml";
}

<h2>Lista de vehículos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NO_PLACA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIO_VEHICULO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YEAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MARCA.NOMBRE_MARCA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODELO.NOMBRE_MODELO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAGINA.NOMBRE_PAGINA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_COMBUSTIBLE.NOMBRE_TIPO_COMBUSTIBLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_VEHICULO.NOMBRE_TIPO_VEHICULO)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NO_PLACA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRECIO_VEHICULO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESTADO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YEAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MARCA.NOMBRE_MARCA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MODELO.NOMBRE_MODELO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PAGINA.NOMBRE_PAGINA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIPO_COMBUSTIBLE.NOMBRE_TIPO_COMBUSTIBLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIPO_VEHICULO.NOMBRE_TIPO_VEHICULO)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_VEHICULO }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_VEHICULO }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_VEHICULO })
            </td>
        </tr>
    }

</table>
