@model rentCar.Models.IMAGEN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IMAGEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RUTA_IMAGEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUTA_IMAGEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VEHICULO.NO_PLACA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VEHICULO.NO_PLACA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_IMAGEN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
