@model IEnumerable<rentCar.Models.IMAGEN>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de imágenes</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Imágen actual
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUTA_IMAGEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VEHICULO.NO_PLACA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(item.RUTA_IMAGEN)" alt="imagen vehículo" style="max-width: 150px">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUTA_IMAGEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VEHICULO.NO_PLACA)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_IMAGEN }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.ID_IMAGEN }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_IMAGEN })
        </td>
    </tr>
}

</table>
