@model IEnumerable<rentCar.Models.IMAGEN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RUTA_IMAGEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VEHICULO.NO_PLACA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RUTA_IMAGEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VEHICULO.NO_PLACA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_IMAGEN }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_IMAGEN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_IMAGEN })
        </td>
    </tr>
}

</table>
